<header>
    <mat-toolbar color="primary">
        <div style="width: 1024px; margin: auto">
            <span>
              <a mat-button [routerLink]="['/']" routerLinkActive="router-link-active">
                <h3>
                  MyRadio
                </h3>
              </a>
            </span>
        </div>
    </mat-toolbar>


</header>

<body style="max-width: 1024px; margin: auto">
    <h3>{{ podcast.title }}</h3>

    <p>by
        <em>{{ podcast.author }}</em>
    </p>

    <a [href]="podcast.src">
        <button>Download</button>
    </a>
</body>